/* Bootstrap CSS */
@import "bootstrap/dist/css/bootstrap.min.css";

/* Toastr CSS correcto */
@import "ngx-toastr/toastr";

body {
    background: #2193b0;
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
    background: linear-gradient(to right, #6dd5ed, #2193b0);
}

.titulo {
    font-family: 'Potta One', cursive;
    text-align: center;
}